.bookmarkedGrid{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.bookmarkText {
    font-weight: 700;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
    margin-bottom: 1rem;

  }