.video-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  justify-content: space-evenly;
 

}

.video-list {
  
    height: 300px;
    width: 400px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    cursor: pointer;
    
}

.video-list:hover{
    box-shadow: 0px 5px 5px 0px #ccc;
}

.showPlay{
    background-color: rgb(0, 0, 0 , 0.5);
    position: relative;
    top: 0;
    width:400px;
    height:210px;
    z-index: 2;
    opacity: 0;
    text-align: center;
    color:rgb(197, 191, 191 , 0.8);
    align-content: center;
    padding-top: 15%;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;
   
}

.video-content{
    position: absolute;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.video-content img{
    height:70%;
    width:100%;
    border-radius: 10px 10px 0 0;
}

.video-list:hover .showPlay{
    opacity:1;
}
.loadSpinner{
    margin-left:40%;
    margin-top:25%;
}

.author{
    display: flex;
    
}
.author-span{
    margin-right:1rem;
    color: gray;
    font-weight: 700;
    
}

.videoBookmark{
    position: absolute;
    margin-left: 92%;
    width: 1%;
}
.linkPlayer{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .video-grid {
    
        grid-template-columns: auto;
        justify-content: space-evenly;
     
        /* margin-left: 5rem; */
        /* margin: auto 0; */
  
      }

      .video-list {
        height:300px;
        width:400px;
    }
  }

@media screen and (max-width: 360px) {
    .video-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto;
        padding: 10px;
        /* margin-left: 5rem; */
        /* margin: auto 0; */
        
        justify-content: space-evenly;
      }

      .video-list {
        height:300px;
        width:300px;
        position: relative;
       
    
    }
    .videoBookmark{
        margin-left: 90%;
    }
    .video-content{
        width: 300px;
    }

    .showPlay{
        width:300px;
    }
  }
