.profileBody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userProfile {
  display: flex;
  height: 40%;

  border-radius: 10px;
  margin: 1rem 1rem 1rem 1rem;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.userVideos {
  height: 100%;

  border-radius: 10px;
  margin: 1rem 1rem 1rem 1rem;
  background-color: white;
}

.userImage {
  border-radius: 50%;
  height: 250px;
  width: 20%;
  cursor: pointer;
  transition: all .5s;
}

.userDetails {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 30px 0 30px 0;
  height: 300px;
  width: 50%;
  box-shadow: 5px 5px 5px 5px #ccc;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  font-family: cursive;
  font-size: 20px;
  align-items: center;
  transition: transform .5s;
}

.userDetails:hover{
  transform: scale(1.05);
}

.profileAvatar {
  border-radius: 50%;
  height: 250px;
  width: 100%;
}
.userUploads {
  font-weight: 700;
  font-family: cursive;
  font-size: 25px;
  text-align: center;
}

.changeAvatar {
  position: relative;
  top: -250px;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 50%;
  height: 250px;
  width: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
  padding-top: 40%;
  opacity: 0;
  transition: all .5s;
}
.userImage:hover .changeAvatar {
  opacity: 1;
}
.profileEdit{
  position: relative;
  cursor: pointer;
  right: -45%;
  top: -8%;
  color: red
}

.userDetails input{
  border-radius: 10px;
  text-align: center;
  width:80%;
  margin-bottom: 1rem;
}

.editButtons{
  display: flex;
  justify-content: space-evenly;
}

.editButtons button{
  margin-left: 1rem;;
}
